[submodule "src/Bannerlord.LauncherManager.Native.TypeScript/external/node-api-stub"]
	path = src/Bannerlord.LauncherManager.Native.TypeScript/external/node-api-stub
	url = https://github.com/napi-bindings/node-api-stub.git
