name: Publish JS NPM and GPR

on:
  push:
    branches:
      - master
    paths:
      - '.github/workflows/publish-native-ts.yml'
      - 'src/Bannerlord.LauncherManager/**.*'
      - 'src/Bannerlord.LauncherManager.Native/**.*'
      - 'src/Bannerlord.LauncherManager.Native.TypeScript/**.*'
  workflow_dispatch:

permissions:
  id-token: write
  contents: read
  packages: write

jobs:
  publish:
    name: Publish on NPM and GPR
    runs-on: windows-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup .NET 10
        uses: actions/setup-dotnet@master
        with:
          dotnet-version: 10.x

      - run: dotnet publish -r win-x64 --self-contained -c Debug src/Bannerlord.LauncherManager.Native
      - run: dotnet publish -r win-x64 --self-contained -c Release src/Bannerlord.LauncherManager.Native

      - run: dotnet test test/Bannerlord.LauncherManager.Native.Tests -c Debug
      - run: dotnet test test/Bannerlord.LauncherManager.Native.Tests -c Release

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22'

      - name: Update npm
        run: npm install -g npm@latest

      - run: |
          cd ./src/Bannerlord.LauncherManager.Native.TypeScript && `
          npm version $(node -p "require('./package.json').version = `
          require('./package.json').version.split('.')[0]+'.' + `
          require('./package.json').version.split('.')[1]+'.' + `
          $(git rev-list --no-merges --count master)") --no-git-tag-version --allow-same-version;

      - run: cd ./src/Bannerlord.LauncherManager.Native.TypeScript && yarn install --frozen-lockfile

      - run: cd ./src/Bannerlord.LauncherManager.Native.TypeScript && yarn run test -- Debug
      - run: cd ./src/Bannerlord.LauncherManager.Native.TypeScript && yarn run test -- Release

      - name: Setup Node.js for NPM publish
        uses: actions/setup-node@v4
        with:
          node-version: '22'
          registry-url: https://registry.npmjs.org/
          scope: '@butr'

      - name: Publish to NPM (trusted publishing)
        run: cd ./src/Bannerlord.LauncherManager.Native.TypeScript && npm publish

      - uses: actions/setup-node@v4
        with:
          node-version: '22'
          registry-url: https://npm.pkg.github.com/
          scope: '@butr'
      - run: cd ./src/Bannerlord.LauncherManager.Native.TypeScript && yarn publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Dispatch
        uses: guilouro/multiple-repositories-dispatch@master
        with:
          repo_token: ${{secrets.REPO_ACCESS_TOKEN}}
          repositories: |
            BUTR/game-mount-and-blade2
          event_type: vortex_extension_update
          client_payload: '{"github": ${{ toJson(github) }}}'
